{{#error}}
<div class="alert alert-danger">
    {{error}}
</div>
{{/error}}

<ul class="logo-list-default margin-top-10 margin-bottom-10 list-inline text-center">
    {{#items}}
        <li class="logo-list-item logo-list-item-{{id}} margin-bottom-30">
            <img class="logo-list-item-img" src="{{logo}}" alt="{{name}}" />
        </li>
    {{/items}}
</ul>