/*
 * Copyright (c) 2024 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.alert {
  &-heading {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
  }

  &-icon {
    margin-right: 1rem;
  }
}
