/*
 * Copyright (c) 2020 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Eric Poirier <eric.poirier@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

@import '../eclipsecon/_variables.less';


//== Links
@link-color:#0590ce;

//== News
@news-layout-b-h2-a-color:@link-color;

@heading-underline-border:@heading-underline-thickness solid @link-color;

//== Header
@header-background: #111 url('../../../images/conference/eclipsecon2022/header-bg.jpg');

@eclipsecon-sponsors-wrapper-sponsor-level-display:block;
@eclipsecon-sponsors-wrapper-sponsor-level-margin-bottom:20px;

@btn-warning-bg:#0590ce;
@btn-warning-border: @btn-warning-bg;

@main-menu-link-color:#222;
@main-menu-link-active-color: lighten(@main-menu-link-color, 10%);
@main-menu-link-transform:uppercase;

@slideshow-content-text-align:left;

@header-toolbar-color: #222;
@header-toolbar-color-hover: lighten(@header-toolbar-color, 10%);