/*
 * Copyright (c) 2020 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Eric Poirier <eric.poirier@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

// Solstice alternate/eclipsecon Drupal styles
// These styles for our conference sites.

// Solstice drupal specific styles
@import "../eclipsecon/drupal.less";
@import "_variables.less";

.btn-huge {
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 30px;
    i {
      margin-right: 2px
    }
}

@media (max-width: @screen-sm-min) {
    #main-menu .nav {
        margin-right: -15px;
    }
}

@media (min-width: @screen-sm-min) {
    #main-menu {
        font-size:15px;
        li > a {
            margin:11px 15px;
        }
    }
}

.header-wrapper {
    overflow: hidden;
    height: 70vh;
    max-height: 700px;
    min-height: 550px;
    position: relative;
    background-size: contain;
    background-position: center;
}

.header-inner-wrapper {
    margin-top: 200px;
    @media (min-width: @screen-sm-min) {
        bottom: 50px;
        margin-top: 100px;
        position: absolute;
    }
}

.header-wrapper-img-container {
    position: relative;
}

.header-wrapper-img {
    position: absolute;
    top: -160px;
    left: 0px;
    width: 300px;
    @media (min-width: @screen-md-min) {
        left: -300px;
        width: 400px;
        top: -175px;
    }
}

.view-solstice-slideshow{
    .solstice-slideshow-content{
        text-align:@slideshow-content-text-align;
        background-color: rgba(0, 0, 0, 0.7);
        position: relative;
        &.container {
            width: 100%;
        }
        @media (min-width: @screen-sm-min) {
            &::after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.7);
                height: 100%;
                right: -3000px;
                top: 0;
                width: 3000px;
            }
        }
    }
    .solstice-slideshow-content-no-image{
        padding-top:30px;
        padding-bottom:30px;
    }
    p {
        font-size: 18px;
        line-height: 1.2;
        margin-top: 10px;
        @media (min-width: @screen-md-min) {
            font-size: 24px;
        }
    }
    h2 {
        font-size: 45px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        &.orange {
            color: #f79422;
        }
        @media (min-width: @screen-md-min) {
            font-size: 120px;
        }
    }
}

.btn {
   text-transform: uppercase;
   font-size: 16px;
   padding: 6px 50px;
}

.es-cta-list {
    margin-top: 60px;
    h2 {
        font-size: 42px;
        text-transform: uppercase;
    }
    p {
        margin-bottom: 30px;
    }
}

.es-cta-list-item {
    position: relative;
    height: 155px;
    margin-bottom: 30px;
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    overflow: hidden;
    background-size: cover;
    @media (min-width: @screen-sm-min) {
        height: 123px;
    }
    @media (min-width: @screen-md-min) {
        height: 190px;
    }
    &:hover {
        position: relative;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 1000;
    }
}

.es-cta-list-item-title {
    background-color: rgba(0, 0, 0, 0.7);
    color: @white;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    z-index: 2;
    margin: 0;
    width: 100%;
    padding: 10px;
    display: table;
}

.es-session-tracks-container {
    background-image: url(../../../images/conference/eclipsecon2022/home-tracks-bg.jpg);
    padding: 50px 0;
    h2 {
        color: @white;
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 40px;
    }
}

.es-session-tracks-item {
    text-align: center;
    .es-session-tracks-item-name a {
        color: @white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 26px;
        margin-bottom: 25px;
    }
    img.es-session-tracks-item-icon {
        width: 100px;
        margin: 0 auto;
    }
    .es-session-tracks-item-description {
        color: @black;
        margin-top: 10px;
    }
}

.home-tracks-slider-nav {
    width: 0;
    height: 0;
    top: 50%;
    position: absolute;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.home-tracks-slider-nav-left {
    border-right: 30px solid @white;
    left: 5px;
    @media (min-width: @screen-md-min) {
        left: -15px;
    }
}

.home-tracks-slider-nav-right {
    border-left: 30px solid @white;
    right: 5px;
    @media (min-width: @screen-md-min) {
        right: -50px;
    }
}

.wrapper-sponsor-level {
    background-color: #ccc;
    padding-top: 10px;
    &:nth-child(2), &:nth-child(4) {
        background-color: #ddd;
    }
    &:nth-child(3) {
        background-color: #eee;
    }
    &:last-child {
        margin-bottom: 40px;
    }
    h3 {
        float: left;
        width: 300px;
        text-transform: uppercase;
        font-size: 25px;
    }
}

.block-es-sponsors-list h2 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin: 80px 0 50px;
}


.es-sponsors-list-item {
    background-color: @white;
    box-shadow: 4px 4px 15px #888;
    margin-top: 15px;
    margin-bottom: 15px;

    &:hover {
        background-color: darken(@white, 5%);
    }
    a {
        padding: 20px;
    }
}

.es-sponsors-list-item-valign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 145px;
}

.es-sponsors-list-item-valign-inner {
    max-width: 100%;
    height: auto;
}

.es-stay-connected-container {
    text-align: center;
    background-color: #f1f1f1;
    position: relative;
    padding-bottom: 100px;
    margin-top: 100px;
    .container {
        z-index: 2;
        position: relative;
    }
    h2 {
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        margin: 35px 0;
    }
    li {
        margin-bottom: 15px;
        a {
            padding: 10px 50px;
            min-width: 310px;
        }
    }
    .es-stay-connected-img-container {
        overflow: hidden;
        .header-wrapper-img {
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 300px;
            top: -60px;
        }
    }
}

.track-view-all {
    font-size: 14px;
    padding: 6px 12px;
    text-transform: capitalize;
}
