/*
 * Copyright (c) 2022, 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

.default-breadcrumbs {
  background: @breadcrumb-background;
  background-size: 100%;
  color: @breadcrumb-color;
  font-size:@breadcrumb-font-size;
  font-weight: @breadcrumb-font-weight;
}

// Decide to move styles up to default-breadcrumbs or breadcrumb
.breadcrumb {
  margin-bottom:0;
  border-top: @breadcrumb-border-top;
  border-bottom: @breadcrumb-border-bottom;
  background: none;
  text-transform: @breadcrumb-text-transform;

  a,
  a:link,
  a:visited {
    color: @breadcrumb-color;
  }

  a:hover,
  a:active {
    color: @breadcrumb-active-color;
  }

  & > .active > a {
    color: @breadcrumb-active-color;
    font-weight: @breadcrumb-active-font-weight;
  }

  & > li + li:before {
    content: "\f0da";
    font-family: 'FontAwesome';
  }
}

// ShareThis buttons located in the breadcrumbs
// This fixes the layout of the popup of the extra buttons
body #st-el-4 .st-btns {
  overflow:auto;
}
