/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.eclipsefdn-meeting-minutes {

    // Navigation tabs
    .nav.nav-tabs.meeting-minutes-tabs-default {
        margin-bottom: 2.5rem;
        border-bottom: 1px solid @card-panel-border-color;
        background-color: transparent;

        .meeting-minutes-tab-item {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .meeting-minutes-tab-item-link {
            padding: 2rem;
            margin: 0;
            border: none;
            border-bottom: 3px solid transparent;
            font-size: 1.6rem;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
        }

        .meeting-minutes-tab-item.active .meeting-minutes-tab-item-link,
        .meeting-minutes-tab-item > .meeting-minutes-tab-item-link:hover {
            color: @brand-primary;
            background-color: transparent;
            border-color: @brand-primary;
        }
    }

    // Main content section
    .tab-content {
        background-color: transparent;
        border: none;
    }

    .panel {
        background-color: @white;
    }

    .card-container .glyph-highlight { 
        .glyph-container {
            background-color: @brand-primary;
        }

        .glyph-bottom {
            border-top-color: @brand-primary;
            border-bottom: 0;
        }
    }

    .card-panel.bordered {
        border: 1px solid @card-panel-border-color;
        border-radius: 0.5rem;
        box-shadow: none;
        margin-bottom: 3rem;
        padding: 2rem;
    }

    .glyph-highlight {
        .glyph-container.text {
            font-size: 1.5em;
            margin-top: 0;
        }
    }

    .glyph-highlight.left-align {
        left: inherit;
        right: calc(94% - 75px);
        top: -10px;
    }

    .meeting-minutes-list li {
        margin-bottom: 1rem;
    }

    .meeting-minutes-list li a:hover {
        text-decoration: underline;
    }   
}
