/*
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.eclipsefdn-participating-organizations .logo-list-default {
    .logo-list-item {
        max-width: 11rem;
        height: 8rem;
    }

    .logo-list-item-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

