/*
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.newsroom-resources .tpl-cover {
  .newsroom-resource-section-title {
    .h2;
    margin-bottom: 3rem;
  }

  .newsroom-resource-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }

  .newsroom-resource-item {
    display: flex;
    flex-direction: column;
    width: 30rem;
    border: 1px solid @gray-mid-light;
    box-shadow: 0px 0px 10px @gray-mid-light;
  }

  .newsroom-resource-item-image {
    height: 40rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .newsroom-resources-links {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
