/*
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.eclipsefdn-members-list {
  .members-item {
    padding: 0;

    @media all and (-ms-high-contrast:none){
      padding: 20px
    }
  }

  a {
    max-width: @members-list-tpl-only-logos-logo-max-width;
    margin-bottom: 5px;
  
    img.img-responsive {
      max-height: 100%;
    
      @media all and (-ms-high-contrast:none){
        max-width: @members-list-tpl-only-logos-logo-max-width;
      }
    }
  }

  // "Only Logos" template
  .members-item-only-logos {
    img.img-responsive {
      max-height: 8rem;
    }
  }

  .logo-placeholder-text {
    text-align: center;
  }
}

// Member Logos
.logo-placeholder-text {
  font-size: @logo-placeholder-text-font-size;
  font-weight: @logo-placeholder-text-font-weight;
}
