/*
 * Copyright (c) 2022 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
 */

// Default template
.video-list-default {
    padding-inline-start: 0;
    list-style: none;

    .video-list-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em 0;
    }

    .video-list-item-video {
        width: 50em;
    }

    .video-list-item-video-container {
        margin-bottom: 2em;
    }

    .eclipsefdn-video {
        min-width: 24em;
        margin: auto;

        @media (min-width: @screen-sm-min) {
            max-width: 26em;
        }
    }

    .video-list-item-details {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (min-width: @screen-sm-min) {
        .video-list-item {
            flex-direction: row;
            padding-left: 6rem;
            padding-right: 6rem;
        }

        .video-list-item-details {
            padding-left: 3em;
            padding-right: unset;
            text-align: left;
        }
    }

    @media (min-width: @screen-lg-min) {
        .video-list-item {
            padding-left: 14rem;
            padding-right: 14rem;
        }
    }
}