<div class="eclipsefdn-wgs-list">
  {{#shouldShowFilterOptions.all}}
  <div class="background-mid-grey margin-bottom-30 margin-top-40">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Filter Working Groups
      <span class="caret"></span></button>
      <ul class="dropdown-menu wg-links">
        <li><a class="wg-btn" data-wg="wg-item" role="button">All</a></li>
        {{#shouldShowFilterOptions.active}}
          <li><a class="wg-btn" data-wg="wg-active-item" role="button">Active</a></li>
        {{/shouldShowFilterOptions.active}}
        {{#shouldShowFilterOptions.incubating}}
        <li><a class="wg-btn" data-wg="wg-incubating-item" role="button">Incubating</a></li>
        {{/shouldShowFilterOptions.incubating}}
        {{#shouldShowFilterOptions.proposed}}
        <li><a class="wg-btn" data-wg="wg-proposed-item" role="button">Proposed</a></li>
        {{/shouldShowFilterOptions.proposed}}
      </ul>
    </div>
  </div>
  {{/shouldShowFilterOptions.all}}

  <div class="row display-flex flex-wrap">
  {{#sections}}
  {{#checkStatus}}
  <div id="wg-{{populateIds}}" class="col-xs-24 col-sm-12 margin-bottom-20 wg-item wg-{{status}}-item">
    <div class="bordered-box bordered-box-light flex-column">
      <div class="box-header vertical-align flex-column-mobile" style="padding-left:10px;">
        <div class="col-xs-24 col-sm-16 vertical-align justify-left-desktop">
          
          {{^logo}}
          <p class="vertical-align margin-top-0 margin-bottom-0">
          {{/logo}}
            {{#resources.website}}
              <a href="{{resources.website}}" style="color: black">
            {{/resources.website}}
              {{#logo}}
                <img style="height:40px;" src="{{logo}}" alt="{{title}}'s logo">
              {{/logo}}
              {{^logo}}
                <p class="h4 margin-0"><strong>{{populateWGNames}}</strong></p>
              {{/logo}}
            {{#resources.website}}
              </a>
            {{/resources.website}}
          {{^logo}}
          </p>
          {{/logo}}

        </div>
        <div class="col-xs-24 col-sm-8 fw-700 vertical-align">
          Status: {{checkStatus}}
        </div>
      </div>

      <div class="flex-grow flex-column padding-30">
        <div class="flex-grow">
          {{description}}
          {{#resources.website}}
            <a href="{{resources.website}}">Learn more</a>
          {{/resources.website}}
        </div>
        <div class="row">
          
          <div class="col-sm-24 col-md-15">
            <h4>Resources:</h4>
            <ul class="padding-left-20">
              {{#resources.charter}}
                <li><a href="{{resources.charter}}">Working Group Charter</a></li>
              {{/resources.charter}}

              {{#resources.participation_agreements.organization}}
                {{#resources.participation_agreements.individual}}
                  <li><a href="{{resources.participation_agreements.organization.pdf}}">Participation Agreement (For organizations)</a></li>
                  <li><a href="{{resources.participation_agreements.individual.pdf}}">Participation Agreement (For individuals)</a></li>
                {{/resources.participation_agreements.individual}}
                {{^resources.participation_agreements.individual}}
                  <li><a href="{{resources.participation_agreements.organization.pdf}}">Participation Agreement</a></li>
                {{/resources.participation_agreements.individual}}
              {{/resources.participation_agreements.organization}}

              {{#resources.sponsorship}}
                <li><a href="{{resources.sponsorship}}">Sponsorship Agreement</a></li>
              {{/resources.sponsorship}}

              {{#resources.members}}
                <li><a href="{{resources.members}}">Working Group Members</a></li>
              {{/resources.members}}
            </ul>
          </div>

          <div class="col-sm-24 col-md-9 margin-top-10 padding-5">
            <div class="btn-row">
              {{#resources.contact_form}}
                <a href="{{resources.contact_form}}" class="btn btn-custom btn-gray padding-10 big">Contact us about membership</a>
              {{/resources.contact_form}}
              <a href="https://membership.eclipse.org/application" class="btn btn-custom btn-primary padding-10 big">My organization is ready to join now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/checkStatus}}
  {{/sections}}
  </div>
</div>
