/*
 * Copyright (c) 2018 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/


// Solstice default footer styles
// author: Christopher Guindon <chris.guindon@eclipse-foundation.org>

footer#solstice-footer {
  background: @footer-background;
  font-family: @font-family-base;
  padding-top: @footer-padding-top;
  color: @footer-color;
  padding-bottom: 26px;
  font-size: @font-size-base;
  border-top: @footer-border-top;
  h2 {
    color: @footer-h2-color;
    margin-top: 0;
    font-weight: @footer-h2-font-weight;
    font-size: @footer-h2-font-size;
    max-width: @footer-h2-max-width;
  }

  a:link , a:active , a:visited, a:focus {
    color: @footer-link-color;
    font-weight: @footer-link-font-weight;
  }

  a:hover {
    color: @footer-link-hover;
  }

  .logo-eclipse-white {
    margin-bottom: 15px;
    max-width:161px;
  }

  .nav {
    margin-left: -15px;
    margin-bottom: 25px;
    a {
      padding: @footer-nav-link-padding;
      &:hover {
        background: none;
        color: @footer-link-hover;
      }
    }
  }

  @media (max-width: @screen-xs-max) {
    text-align: center;
    .nav{
      margin-left:0;
    }
  }

  li {
    padding-bottom: 0;
  }

  @media (max-width: 450px) {
    section.col-xs-11 , section.col-xs-14 {
      .make-xs-column (23);
    }
  }

  @media (min-width: 451px) and (max-width: @screen-xs-max) {
    #footer-useful-links {
      clear: left;
    }

    #copyright {
      clear: both;
    }
  }
}

#copyright {
  padding-top: 15px;
  img {
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    clear: both;
  }
}

#copyright-text {
  @media (max-width: @screen-sm-max) {
    margin-bottom:20px;
  }
}

footer .social-media {
  @media (min-width: @screen-md-min) {
    text-align:right;
  }
}

// The links won't work in xs without this
#footer-eclipse-foundation , #footer-legal , #footer-useful-links , #footer-other {
  z-index: 99;
}

.footer-other-working-groups {
  font-weight: 300;
  font-size: 11px;
  .logo-eclipse-default, .social-media {
    margin-bottom: 20px;
    margin-top:0;
  }

  .img-responsive {
    max-width: 175px;
  }

  .footer-working-group-col {
    padding: 0;
  }

  @media (min-width: @screen-lg-min) {
    .img-responsive {
      max-width: 200px;
    }

    background: @footer-working-group-background;
  }
}

// Bug 499502 - [drupal] - Allow admin to use a different footer on certain pages
.footer-min{
  background:@eclipse-highlight-grey;
  border-top: 1px solid darken(@eclipse-highlight-grey, 25%);
  width:100%;
  bottom:0px;
  a{
    font-weight:normal;
    font-size:0.8em;
  }
  padding:10px 0;
  p, ul{
    margin-bottom:0;
    font-size:0.8em;
  }
  ul{
    text-align:right;
    li{
      padding-bottom:0;
    }
  }
  @media screen and ( max-width: @screen-xs-max) {
    p, ul{
      text-align:center;
    }
  }
}

body.solstice-footer-min{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position:static;
  main {
    flex: 1 0 auto;
  }
}


footer#solstice-footer.footer-darker {
  background: @footer-darker-background;
  color: @footer-darker-color;
  h2 {
    color: @footer-darker-color;
  }
  a:link,
  a:active,
  a:visited,
  a:focus {
    color: @footer-darker-link-color;
    font-weight: @footer-link-font-weight;
  }

  a:hover {
    color:@footer-darker-link-hover;
  }

  .nav {
    a {
      &:hover {
        background: none;
        color: @footer-darker-link-hover;
      }
    }
  }
}
