/*!
 * Copyright (c) 2022, 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse.foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import '../../../_components/quicksilver/featured-jumbotron.less';


.header-default-bg-img .featured-jumbotron {
    position: relative;
    background-image: @header-default-bg-img;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    }

    @media (min-width: @screen-sm-min) {
      &::before {
        display: none;
      }
    }

    @media (min-width: @screen-md-min) {
        background-position: unset;
    }
}

.featured-jumbotron {
    padding: 10rem 0;
    text-align: left;

    .featured-jumbotron-headline,
    .featured-jumbotron-subtitle,
    .featured-jumbotron-tagline {
        text-shadow: 0 0 16px @black, 0 0 16px @black, 0 0 16px @black, 0 0 16px @black;
    }

    h1,
    .h1,
    .featured-jumbotron-headline {
        margin-bottom: 1rem;
        color: @brand-primary;
        font-size: @font-size-3xl;
        font-weight: 300;
        letter-spacing: normal;

        &::after {
            content: none;
        }

        & > .highlight {
            color: @white;
        }
    }

    .featured-jumbotron-subtitle {
        font-size: @font-size-lg;
        font-weight: 300;
    }

    .featured-jumbotron-tagline,
    .featured-jumbotron-tagline p {
        font-size: @font-size-md;
    }

    .featured-jumbotron-tagline {
        margin-bottom: 1.5rem;
    }

    .featured-jumbotron-links {
        .list-inline;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .featured-story-jumbotron {
      margin-bottom: -8rem;

      @media (min-width: @screen-sm-min) {
        margin-bottom: -5rem;
      }
    }

    &.featured-jumbotron-dark .btn-primary {
      border: none;
      color: @black;
      background-color: @white;
    }
}

@media (max-width: 1199px) {
  .jumbotron.featured-jumbotron p {
    text-shadow: unset;
  }
}
