<div class="tpl-cover">
  {{#items}}
    <div class="newsroom-resource-section-title">{{title}}</div>
    <div class="newsroom-resource-item-container">
    {{#data}}
      <a class="newsroom-resource-item link-unstyled" href="{{resLink.link}}">
        <div class="newsroom-resource-item-image">
          <img src="{{image}}" alt="{{title}}" />
        </div>
      </a>
    {{/data}}
    </div>
    <div class="newsroom-resources-links text-center">
      {{#viewMoreLink}}
        <a class="btn btn-primary" href="{{viewMoreLink}}">View All</a>
      {{/viewMoreLink}}
    </div>
  {{/items}}
</div>
